week-03/day-05/
week-02/day-05/
week-04/day-02/Practice/
week-03/day-03/test/
week-03/day-04/test/
week-03/day-03/.DS_Store
week-02/day-01/test/
week-02/day-02/test2/
week-02/day-04/checkerboard/
week-02/day-04/square-position/.DS_Store
week-03/.DS_Store
week-03/day-03/.DS_Store
*.DS_Store
week-02/.DS_Store