week-03/day-05/
week-02/day-05/
week-04/day-02/Practice/
week-03/day-03/test/
week-03/day-04/test/
week-02/day-01/test/
week-02/day-02/test2/
week-02/day-04/checkerboard/
week-04/day-04/node_modules
*.DS_Store
*.vscode/
week-06/day-03/example/
week-06/day-01/ex-04.2/
week-06/day-03/createelement-3/
week-06/day-04/cocktails/
/week-06/day-05/
week-07/day-02/starwars/
week-07/day-03/
week-07/node_modules/
week-07/package-lock.json
week-07/app.js
week-08/reddit/
package.json
ks-amp.code-workspace
week-09/day-04/
week-09/macrotis-exam/

