/../.DS_Store
/.DS_Store
/day-01/.DS_Store
/day-03/do-smth.ts
        ../day-03/file1.txt
        ../day-03/file2.txt
        ../day-03/fileio.ts
        ../day-03/log.txt
        ../day-03/my-file.txt
        ../day-03/myText.txt
        ../day-03/myfile.txt
        ../day-03/test.ts
        ../day-03/try.ts