* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-green {
  background-color: green;
  width: 400px;
  height: 400px;
}

.item-yellow {
  background-color: yellow;
  width: 400px;
  height: 400px;
}

.item-purple {
  background-color: purple;
  width: 400px;
  height: 400px;
}
