body {
  background-color: darkslategray;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  grid-auto-rows: minmax(150px, auto);
  margin: 0 auto;
}

.purple {
  background-color: plum;
}

.nested {
  background-color: green;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nested p {
  background-color: yellow;
  width: 80%;
  height: 70%;
}
