<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <table border="1">
    <thead>
      <tr>
        <th class="row1">Name</th>
        <th class="row2">City</th>
        <th class="row3">Price</th>
        <th class="row4">Longitude</th>
        <th class="row5">lattitude</th>
        <th class="row6">Category</th>
        <th class="row7">Duration</th>
        <th class="row8">Recommended age</th>
        <th class="row9"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <form>
    <div>
      <label for="">
        <input type="hidden" name="identification">
      </label>
    </div>
    <div>
      <label for="">
        <span>Name</span>
        <input type="text" name="name">
      </label>
    </div>
    <div>
      <label for="">
        <span>City</span>
        <input type="text" name="city">
      </label>
    </div>
    <div>
      <label for="">
        <span>Price</span>
        <input type="number" name="price">
      </label>
    </div>
    <div>
      <label for="">
        <span>Longitude</span>
        <input type="number" name="longitude">
      </label>
    </div>
    <div>
      <label for="">
        <span>Lattitude</span>
        <input type="number" name="lattitude">
      </label>
    </div>
    <div>
      <label for="">
        <span>Category</span>
        <input type="text" name="category">
      </label>
    </div>
    <div>
      <label for="">
        <span>Duration</span>
        <input type="number" name="duration">
      </label>
    </div>
    <div>
      <label for="">
        <span>Recommended age</span>
        <input type="text" name="age">
      </label>
    </div>
    <div>
      <label for="">
        <input type="Submit" name="submitbutton" id="submitbutt">
      </label>
  </form>

  <script src="../static/index.js"></script>
</body>

</html>