* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.green {
  background-color: #00FA9A;
}

.yellow {
  background-color: #FFFF99;
  width: 600px;
  height: 600px;
  z-index: 2;
}

.purple {
  background-color: #DDA0DD;
  position: fixed;
  z-index: 999;
  width: 200px;
  height: 200px;
}
