<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Reddit </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <link rel="stylesheet" href="../static/landing.css">
</head>

<body>
  <header>
    <div class="headcontainer">
      <h1 class="uppercase">Space</h1>
      <h3 class="uppercase">submit a new post to /r/Space</h3>
    </div>
  </header>
  <div class="page-structure">
    <main class="maincontainer">


    </main>
    <aside class="asidecontainer">
      <div>
        <a href="http://localhost:3000/posts">
          <button class="submit uppercase" id="submit-landing">submit a new post</button>
        </a>
      </div>
      <div class="about">
        <h2>ABOUT
          <span>
            <a href="r/space">r/space</a>
          </span>
        </h2>
        <div class="learnabout">
          <p>Share &amp; discuss informative content on:</p>
          <ul>
            <li>Astrophysics</li>
            <li>Cosmology</li>
            <li>Space Exlporation</li>
            <li>Planetary Science</li>
            <li>Astrobiology</li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
  <script src="../static/landing.js"></script>
</body>

</html>