<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Modify </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <link rel="stylesheet" href="../static/landing.css">
</head>

<body>
  <header>
    <div class="headcontainer">
      <h1 class="uppercase">Space</h1>
      <h3 class="uppercase">submit a new post to /r/Space</h3>
    </div>
  </header>

  <body>
    <div class="submit-form">
      <form>
        <label>
          <div>
            <span>*</span>
            <span>title</span>
            <input type="text" name="posttitle" required>
          </div>
        </label>
        <label>
          <span>URL</span>
          <input type="url" name="posturl" required>
        </label>
        <label><input type="submit"></label>
      </form>
    </div>
     <script src="../static/modify.js"></script>
  </body>

</html>